# Node modules
node_modules/

# Playwright artifacts
playwright-report/
playwright-report.zip
test-results/
blob-report/
trace.zip
.playwright-mcp

# Environment variables
.env
k6/.env.k6
k6/.env.k6.*
Projects/keystone/.env.keystone
Projects/apex/.env.apex
Projects/chess2/.env.chess2
Projects/ait360_talentx/.env.ait360_talentx
k6/.env.k6.talentx
Projects/pantry/.env.pantry
Projects/docomate/.env.docomate
Projects/IAM/.env.iam
Projects/sumosum/.env.sumosum
Projects/promptvault/.env.pv

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
k6/logs/*
!k6/logs/.gitkeep


# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Build output
dist/
build/

# Saved Reports
saved_reports/
k6/reports/report_*.html
k6/reports/report.html
k6/reports/*.json
k6/reports/result_*.json

# Temp Data
temp_data/
screenshots/
k6/command.txt

CLAUDE.md

# Playwright Auth state files
playwright/.auth/